*{
  margin:0;
  padding:0;
}
body{
    font-family: 'Indie Flower', cursive;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image:url(https://static.vecteezy.com/system/resources/previews/000/222/640/original/christmas-background-with-baubles-and-gifts-vector.jpg);
    background-size: cover;
    margin: 0;
}

.encabezado{
  font-family: 'Mountains of Christmas', cursive;
  background-color: rgb(227, 17, 17);
  font-size: 80px;
  text-align: center;
  padding-top:  20px;
  padding-bottom:  20px;
  margin-bottom: 20px;
  width: 100%;
}


#creador, #invitado {
  width:50%;
  margin-left: 25%;
  margin-bottom: 30px;
  margin-top: 50px;
  background-color:rgba(72,72,72,0.4);
  border-radius: 20px;
  padding-top:1em;
  padding-bottom: 1em;

}
.bienvenida{
  font-size: 20px;
}
#form-div{
    background-color:rgba(72,72,72,0.4);
    border-radius: 20px;
    margin-top:30px;
    margin-left: 25%;
    margin-bottom: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 50%;
}
/* usar # para id y . para class
/*#form-div {
    background-color:rgba(72,72,72,0.4);
    padding: 1em 2em;
    width: 500px;
    float: left;
    left: 47%;
    position: absolute;
    margin-top:30px;
    margin-left: -250px;
    border-radius: 20px;
    box-sizing: : border-box;
}*/


#emisor {
    font-size: 20px;
   background: red;
   color: white;
    width: 180px;
    padding: 4px 0;
    margin-top:50px;
    margin-left: -10px;
    margin-right: -100px;
    border-radius: 10px;
}

#offset, #offset1 {
  width: 50px;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

textarea {
    width: 60%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


#receptor {
    font-size: 20px;
   background-color: rgb(0, 164, 30);
   color: white;
   width: 180px;
   padding: 4px 0;
   margin-top:50px;
   margin-left: 100px;z
   margin-right: 10px;

   border-radius: 10px;
}
/*#creador, #invitado {
  background-color:rgba(72,72,72,0.4);
  border-radius: 20px;
  left: 47%;
  height: auto;
  margin: auto;
  padding: 1em 1em;
  width: 500px;
}*/
.footer {
   /*position: fixed;*/
   height: 20px;
   padding: 1em 1em;
   overflow: hidden;
   /*box-sizing: : border-box;
   left: 0;
   bottom: 0;
   width: 100%;*/
   background-color: rgb(0, 164, 30);
   color: white;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  body{
      width: 100%;
  }
  .encabezado{
    font-size: 50px;
    width: 100%;
  }
  #form-div{
   width: 50%;
}
}
@media screen and (min-width: 350px) and (max-width: 768px){

  .encabezado{
    font-size: 50px;
    width: 100%;
  }
  #form-div{
   width: 50%;
}
}
